/* .card-img{
    border-radius: 70%;
    height: 30vh;
    width: 30vh;
    padding-top: 9px;
}
.container-custom{
    height: 100vh;
    width: auto;
    align-items: center;
    justify-content: center;
    display:flex; */

    /* background: linear-gradient(45deg,#f18928,#ff8162); */
/* 
}
.card{
    align-items: center;
    justify-content: center;
    display:flex;
    height: 85%;
    width: 30%;

}
.card-name{
    display: flex;
    align-items: center;
    justify-content: center;
    display:flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,

     rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.container-custom{
    display:flex;
 align-items: center;
 justify-content: center;
}

.custom-shape-divider-top-1710148803 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1710149256 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1710149256 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 235px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1710149256 .shape-fill {
    fill: #e67230;
}
.custom-shape-divider-bottom-1710152711 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1710152711 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1710152711 .shape-fill {
    fill: #eb6517;
} */